{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Add Unit</h2>
      <form method="POST" action="{% url 'add_unit' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="categoryName">Unit Name</label>
          <input type="text" class="form-control" id="categoryName" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Unit</button>
      </form>
    </div>

    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th>units</th>
            <th>action</th>
          </tr>
        <tbody>
          {% for unit in units %}
          <tr>
            
              <td>{{ unit.unit_name }}</td>
              <td>

                <a href="{% url 'delete-unit' unit.id %}"><button class="btn-danger btn-sm ">delete</button></a>
                <a href="{% url 'update-unit' unit.id %}"><button class="btn-info btn-sm ">update</button></a>
              </td>
            
          </tr>
          {% endfor %}
        </tbody>
        </thead>

      </table>
      <!-- <h2>Categories</h2>
        <ul class="list-group">
          {% for category in categories %}
            <li class="list-group-item">{{ category.name }}</li>
           
          {% empty %}
            <li class="list-group-item">No categories found.</li>
          {% endfor %}
        </ul> -->
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>