{% extends 'base.html' %}


{% block content %}

  <div>
    <div class="row">
      <div class="col-md-6">
        <h2>Update Sale</h2>
        <form method="POST" action="{% url 'update-sale' id=id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="product">Product</label>
            <select class="form-control" id="product" name="product" required>
              <option value="">Select Product</option>
              {% for product in products %}
                <option value="{{ product.pk }}">{{ product.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Sale</button>
        </form>
        {% if error_message %}
          <div class="alert alert-danger mt-3">
            {{ error_message }}
          </div>
        {% endif %}
      </div>
      
    {% endblock content %}